<div class="page-wrapper">
  <h1>{{title}}</h1>

  <app-table *ngIf="cities.length > 0; else loading" [dataSource]="cities" (deleteEntryEvent)="deleteCity($event)" (selectEntryEvent)="selectCity($event)"></app-table>
  <ng-template #loading>
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </ng-template>
  <!-- <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner> -->

  <button mat-raised-button color="primary" (click)="addCity()">Add city</button>
</div>
