<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="city" class="form">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input id="title" matInput formControlName="title" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Content</mat-label>
      <textarea id="content" matInput formControlName="content" required></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Latitude</mat-label>
      <input id="lat" matInput formControlName="lat" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Longitude</mat-label>
      <input id="long" matInput formControlName="long" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Image URL</mat-label>
      <input id="image_url" matInput formControlName="image_url">
    </mat-form-field>
  </form>
  <div class="image-wrapper">
    <img *ngIf="city.controls.image_url.value && !imageError; else defaultImage" [src]="city.controls.image_url.value" (error)="imageError = true">
    <ng-template #defaultImage>
      <img src="https://svg.template.creately.com/MIQyt1kde0t">
      <span id="image-error-message" *ngIf="imageError">Error loading image</span>
    </ng-template>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="save()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
